<div id="header">
  <div class="column">
    <a href="/">Home</a>
  </div>
  <div class="column">
    <a href="/categories">Categories</a>
  </div>
  <div class="column">
    <a href="/categories/create">New Category</a>
  </div>
  <div class="column">
    <a href="/items/create">New Task</a>
  </div>
</div>