@{
  Layout = "_Layout";
}

<div class="container">
<h1>Toodle Dos</h1>
<p>@Html.ActionLink("See all items", "Index", "Items")</p> 
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>