  @* <!DOCTYPE html>
  <html>
    <head>
      <title>To Doob</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
      <h1>Photuses</h1>
      <ul>
        <li><img width ="500px" src='~/img/kelly-sikkema-dgVSuJu58C0-unsplash.jpeg'/></li>
        <li><img width ="500px" src='~/img/leedle leedle.jpg'/></li>
        <li><img width ="500px" src='~/img/ghibli-flowers.png'/></li>
        <li><img width ="500px" src='~/img/yeahh.gif'/></li>
      </ul>
    </body>
  </html> *@